# /etc/cron.d/app-cron

# environment dasar cron
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
# pastikan app di folder /app
APP_HOME=/app

# log file
LOGFILE=/var/log/cron/app-cron.log

# ┌─ menit (0 - 59)
# │ ┌─ jam (0 - 23)
# │ │ ┌─ hari (1 - 31)
# │ │ │ ┌─ bulan (1 - 12)
# │ │ │ │ ┌─ hari dalam minggu (0 - 7) (Minggu = 0 atau 7)
# │ │ │ │ │
# │ │ │ │ │   user   perintah

# 1) Generate invoice reseller tiap tanggal 5 jam 02:00
0 2 5 * * root cd $APP_HOME && /usr/local/bin/python cron_jobs/generate_reseller_invoices.py >> $LOGFILE 2>&1

# 2) Notif user belum bayar tiap hari jam 07:00
0 7 * * * root cd $APP_HOME && /usr/local/bin/python cron_jobs/notify_unpaid_users.py >> $LOGFILE 2>&1

# 3) Isolate user belum bayar tiap hari jam 08:00
0 8 * * * root cd $APP_HOME && /usr/local/bin/python cron_jobs/isolate_unpaid_users.py >> $LOGFILE 2>&1

# Wajib diakhiri newline
